[submodule "third_party/glfw"]
	path = third_party/glfw
url=git@github.com:shuaigougou5545/GLFW.git
[submodule "third_party/glad"]
	path = third_party/glad
url=git@github.com:shuaigougou5545/GLAD.git
[submodule "third_party/glm"]
	path = third_party/glm
url=git@github.com:shuaigougou5545/GLM.git
[submodule "third_party/imgui"]
	path = third_party/imgui
url=git@github.com:shuaigougou5545/IMGUI.git
[submodule "third_party/stb_image"]
	path = third_party/stb_image
url=git@github.com:shuaigougou5545/stb_image.git
